# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Python egg metadata
*.egg-info/
*.egg

# MySQL dumps / local DB
*.sql
*.db

# VSCode project settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Node.js
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Build outputs
dist/
build/
.cache/
.next/

# Static output (Next.js)
out/
